/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    height:100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
}


a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

@media print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
 
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: depreciated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }
 
    a {
        text-decoration: underline;
    }
    header{display:none;}
 
    a[href]:after {
        content: " (" attr(href) ")"; 
    }
 
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
}


/* body{display:none;} */

.highlight{
    background:tomato;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    /* text-transform: uppercase; */
    text-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
    color:white;
    /* for overlay style */
     position:relative;
    top:0;
    left:0;
    z-index:100; 

    border-radius:3px;

}

header{
    background-image:url(../img/cmg-top-bg.jpg);
    height:40px;
}
header nav{margin:0 auto;}
header .button-group .button{
    box-shadow:0 1px 2px -1px rgba(255,255,255,.6);
    padding:7px 15px;
}
header .col_2{width:58%;}




.sliderContainer .slideSelectors {
    position: relative;
    bottom: 35px;
    left: 0;
    width: 92%;
    margin: 0 35px;
    z-index: 1;
    height: 10px;
}

.sliderContainer .slideSelectors .item {
    float: left;
    width: 9px;
    height: 9px;
    border: 1px solid rgba(0,0,0,.8);
    background: #999;
    margin: 0 0 0 10px;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.sliderContainer .slideSelectors .selected {
    background: #00265C;
    opacity: 1;
    filter: alpha(opacity=100);
}

.iosSliderTop{
    clear: both;
    width: 100%;
    padding: 0 0 25%;
    margin: 0 0 0 0;
    position: relative;
}
.fluidHeight {
    position: absolute;
    width: 100%;
    /* height: 87%; */
    height: 100%;
}

/* slider container */
.sliderContainer.banner{
    height: 100%;
    max-height: 100%;
    padding: 0 0;
}
/* banner style start */
.banner .iosSlider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    
    width:100%;
    height: 100%;
}

/* slider */
.banner  .iosSlider .slider {
    /* required */
    width: 100%;
    height: 100%;
}

/* slide */
.banner .iosSlider .slider .slide {
    /* required */
    float: left;
    
    width: 100%;
    height: 100%;
}



.banner .inner{
    width:90%;
    height:100%;
    margin:0 auto;


}
.iosSlider .slider .slide.left .inner img{
-webkit-transform:perspective(800px) scale(1.05) rotateY(-10deg);
-webkit-transform-origin:100% 50%;
    
}
.iosSlider .slider .slide.right .inner img{
-webkit-transform:perspective(800px) scale(1.05) rotateY(10deg);
-webkit-transform-origin:0% 50%;
    
}


.transition img{    
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -ms-transition:all 2s ease;
    -o-transition:all 2s ease;
    transition:all 2s ease; 
}

/* center the images */
.inner img{ margin: 0 auto; display: block; }

.banner img{
    -webkit-transform:perspective(800px) scale(.8);
    -webkit-transform-origin:50% 50%;
    -moz-transform:perspective(800px) scale(.8);
    -moz-transform-origin:50% 50%;
    -ms-transform:perspective(800px) scale(.8);
    -ms-transform-origin:50% 50%;
    -o-transform:perspective(800px) scale(.8);
    -o-transform-origin:50% 50%;
    transform:perspective(800px) scale(.8);
    transform-origin:50% 50%; 
    
}

.banner .slide.current .inner img{

    -webkit-transform: scale(1.05) rotateY(0deg);
    -moz-transform: scale(1.05) rotateY(0deg);
    -ms-transform: scale(1.05) rotateY(0deg);
    -o-transform: scale(1.05) rotateY(0deg);
    transform: scale(1.05) rotateY(0deg);

}

/* end banner iosslider */


/* slider container */
.iosSlider.rows {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    
    width:100%;
    height: 140px;
    margin:10px auto;

}

/* slider */
.iosSlider.rows .slider {
    /* required */
    width: 100%;
    height: 100%;

}

/* slide */
.iosSlider.rows .slider .slide {
    /* required */
    float: left;
    
    width: 16.6665%;
    height: 100%;
}
.iosSlider.rows .slider .slide .inner{
    max-width:100px;
    height:100%;
    margin:0 auto;
}
.iosSlider.rows .slider .slide .inner img {
    box-shadow: 0 18px 5px -12px rgba(0,0,0,.5);
    border-radius:20px;
}


/* slider container */
.iosSlider.last-row{
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    
    width:100%;
    height: 146px;
    margin:10px auto;

}

/* slider */
.iosSlider.last-row .slider {
    /* required */
    width: 100%;
    height: 100%;

}

/* slide */
.iosSlider.last-row .slider .slide {
    /* required */
    float: left;
    width: 40%;
    height: 100%;
}


footer ul li{text-transform:capitalize;}
.content{width:95%;}

.description{
        color:rgba(0,0,0,.6);
        text-shadow:0 1px white;
        font-size:14px;
        padding:20px 0;
        height: 15px;
        text-transform:capitalize;
        text-align:center;
        font-weight:bold;
        font-size:12px;
}