/*!
 * avgrund 0.1
 * http://lab.hakim.se/avgrund
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
    overflow: hidden;
}

html {
    background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;
}

h1, 
h2 {
    font-size: 24px;
}

p {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 1.32;
}

a {
    color: #7aa76d;
    text-decoration: none;

    -webkit-transition: 0.15s color ease;
       -moz-transition: 0.15s color ease;
        -ms-transition: 0.15s color ease;
         -o-transition: 0.15s color ease;
            transition: 0.15s color ease;
}
    a:hover {
        color: #91cd85;
    }

small {
    display: block;
    margin-top: 15px;
    padding-top: 15px;
    color: #333;
    font-size: 0.85em;
    border-top: 1px dashed #ccc;

    -webkit-text-size-adjust: none;
}

button {
    border: 0px;
    padding: 8px 10px;
    margin: 5px 0px;
    border-radius: 1px;

    cursor: pointer;
    color: #fff;
    background: #7aa76d;
    font-size: 15px;

    -webkit-transition: 0.15s background ease;
       -moz-transition: 0.15s background ease;
        -ms-transition: 0.15s background ease;
         -o-transition: 0.15s background ease;
            transition: 0.15s background ease;
}
    button:hover {
        background: #91cd85;
    }
    button:active {
        background: #60895a;
    }
    button+button {
        margin-left: 5px;
    }

.sharing {
    margin-top: 50px;
}

body {
    background: #fff;

    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}
 
.avgrund-active body {
  -webkit-transform: scale( 1 );
     -moz-transform: scale( 1 );
      -ms-transform: scale( 1 );
       -o-transform: scale( 1 );
          transform: scale( 1 );
} 

.avgrund-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: rgba( 0, 0, 0, 0.5 );
}
  .avgrund-active .avgrund-cover {
    visibility: visible;
    opacity: 1;
  }

  .avgrund-active .avgrund-contents {
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
            filter: blur(2px);
  }
  .no-blur.avgrund-active .avgrund-contents {
    -webkit-filter: none;
       -moz-filter: none;
        -ms-filter: none;
         -o-filter: none;
            filter: none;
  }

 
.avgrund-popup {
  position: absolute;
  width: 80%;
  height: 70%;

  visibility: hidden;
  opacity: 0;
  z-index: 101;

  border-radius:4px;
  margin:0 auto;

  background: #fffaf6;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);

  -webkit-transform: scale( 0.8 );
     -moz-transform: scale( 0.8 );
      -ms-transform: scale( 0.8 );
       -o-transform: scale( 0.8 );
          transform: scale( 0.8 );

} 
  .avgrund-active .avgrund-popup-animate {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale( 1.1 );
       -moz-transform: scale( 1.1 );
        -ms-transform: scale( 1.1 );
         -o-transform: scale( 1.1 );
            transform: scale( 1.1 );
  }
  .avgrund-popup.stack {
    -webkit-transform: scale( 1.5 );
       -moz-transform: scale( 1.5 );
        -ms-transform: scale( 1.5 );
         -o-transform: scale( 1.5 );
            transform: scale( 1.5 );
  }
  .avgrund-active .avgrund-popup.stack {
    -webkit-transform: scale( 1.1 );
       -moz-transform: scale( 1.1 );
        -ms-transform: scale( 1.1 );
         -o-transform: scale( 1.1 );
            transform: scale( 1.1 );
  }


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;

  -webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
     -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
      -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
       -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
          transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.avgrund-ready .avgrund-popup.no-transition {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.modal-header{
  padding: 9px 15px;
  border-bottom: 3px solid #aaa;
  border-top: 3px solid #aaa;
  margin: 20px 30px 0 30px;
  box-shadow: 0 13px 8px -9px rgba(0,0,0,0.2);
}

.modal-header .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.modal-header .close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modal-header button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


.modal-header h1 {
  margin: 0;
  line-height: 30px;
  color:#2889db;
}

.modal-body {
  height: 80%;
  padding: 15px 35px 0 35px;
  overflow-y: auto;
  text-align:justify;
  font-size:13px;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.hasModal{cursor:pointer;}


